torch==1.7.0+cpu torchvision==0.8.1+cpu torchaudio==0.7.0 -f https://download.pytorch.org/whl/torch_stable.html
Flask==1.1.1
gunicorn==20.0.4
Werkzeug==0.16.0
MarkupSafe==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
facenet-pytorch==2.5.2
Pillow==6.2.1
