<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result Page</title>
    <style>
        body{

        
        background-color:	#101010;

        }
        
        h1{
            text-align: center;
            font-size: 40px;
            color:		#A0A0A0;

        }
        h2{
            text-align: center;
            font-size: 38px;
            color:	#A0A0A0;
        }
        .result1{
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Result</h1>
    <br>
    <br>
    <h2>Mammootty</h2>
    <br>
    <br>
    
    <div class="result1">
    <img src="static/result2.jpg"width="600" height="400">
    </div>
</body>
</html>